{#
/**
 * @file
 * Display an iframe with alterable components.
 */
#}
<div class="dreambroker-iframe-container">
  <iframe{{ attributes }}{% if url is not empty %} src="{{ url }}{% if query is not empty %}?{{ query | url_encode }}{% endif %}"{% endif %}></iframe>
</div>
